.navigation {
  width: 100%;
  padding: 0 auto;
  text-align: center;
  box-shadow: 0 0 5px grey;
}

.navigation li{
  display: inline-block;
  padding: 1% 2%;
  cursor: pointer;
}





/* Hide the Navigation when the screen is less than 600px */
@media (max-width: 600px){
  .navigation {
    display: none
  }
}

